<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      UserId:<%= UserId%>
    </p>
    <br>
    <p>
      PwHash:<%= PwHash%>
    </p>
    <br>
    <p>
      userName:<%= userName%>
    </p>
    <br>
    <p>
      SessionData:<%= SessionData%>
    </p>
    <br>
    <p>
      LastActive:<%= LastActive%>
    </p>
    <br>
    <p>
      AccType:<%= AccType%>
    </p>
    <br>

  </body>
</html>
